*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: whitesmoke;
}

header {
    border: 1px solid white;
    margin: 0 auto;
    height: 5rem;
    height: 5rem;
    background-color: white;
    font-size: 2rem;
    font-weight: bold;
    
}

section#main-logo {
    margin: 10px

}

section#main-logo h1 {
    display: inline-block;
    vertical-align: 10px;
}

#contenitor1 {    
    border: 1px solid white;
    background-color: white;
    height: 5rem;
    width: 55rem;
    margin: 0 auto;
    margin-top: 4rem;
}

#contenitor2 {
    border: 1px solid white;
    background-color: white;
    height: 35rem;
    width: 55rem;
    margin: 0 auto;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    

}

#ul {
    margin: 20px 20px;
    line-height: 40px;
    list-style-type: none;
    
}



.fontlist {
    font-size: small;
    font-weight: lighter;
    font-size: 15px;
    margin-left: 6px;
}

.button {
    margin: 25px 70px; 
    

}

#task {
    background-color: rgb(85, 176, 212);
    border-color: rgb(85, 176, 212);
    border-radius: 5px;
    height: 30px;
    font-size: small;
    color: whitesmoke; 
    
}

#section {
    background-color: white;
    border-color: lightgray ;
    border-radius: 5px;
    height: 30px;
    font-size: small;
    color: lightgray; 

}

.p {
    margin-left: 5px;
    font-size: larger;
    font-weight: bold;
    line-height: 45px;
    list-style-type: none;
    
}

#Editorial {
    background-color: rgb(85, 176, 212);
    border: 1px solid skyblue;
    height: 30px;
    font-size: smaller;
    color: white;
    border-radius: 12px;
    padding: 5px;
}

#goals {
    background-color: rgb(127, 0, 223);
    border: 1px solid rgb(127, 0, 223);
    height: 30px;
    font-size: smaller;
    color: white;
    border-radius: 12px;
    padding: 5px;
}

#rectruiting {
    background-color: darkcyan;
    border: 1px solid darkcyan;
    height: 30px;
    font-size: smaller;
    color: white;
    border-radius: 12px;
    padding: 5px;

}

#mobile {
    background-color: orange;
    border: 1px solid orange;
    height: 30px;
    font-size: smaller;
    color: white;
    border-radius: 12px;
    padding: 5px;
}

#website {
    background-color: lightcoral;
    border: 1px solid lightcoral;
    height: 30px;
    font-size: smaller;
    color: white;
    border-radius: 12px;
    padding: 5px;
}

#sales {
    background-color: olivedrab;
    border: 1px solid olivedrab ;
    height: 30px;
    font-size: smaller;
    color: white;
    border-radius: 12px;
    padding: 5px;
}

#verified {
    border: 1px solid lightseagreen;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    padding: 2px;
    color: lightseagreen;
    font-size: smaller;

}

#negative {
    border: 1px solid red;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    padding: 2px;
    color: red;
    font-size: smaller;
}

